#friendTab {
    height: 100%;
}

#friendTab>div>div.ant-tabs-nav>div.ant-tabs-nav-wrap>div {
    margin-left: auto;
    margin-right: auto;
}

#friendTab>div>div.ant-tabs-nav {
    margin: 0;
}

.friendlist-list {}

.friendlist-list-item {}

.friendlist-list-item-meta {
    padding: 0 0 0 0;
    cursor: pointer;
}

.friendlist-avatar {
    margin-bottom: 10%;
    margin-top: 10%;
}

.friendlist-infinite-container {
    position: absolute;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    width: 32%;
    height: 90%;
}

.friendlist-loading-container {
    position: absolute;
    bottom: 40px;
    width: 32%;
    text-align: center;
}