#friendTab {
    height: 100%;
}

.ant-tabs-nav-list {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

#friendTab>div>div.ant-tabs-nav {
    margin: 0;
}

.friendlist-list-item-meta {
    padding: 0 0 0 0;
    cursor: pointer;
}

.friendlist-avatar {
    margin-bottom: 10%;
    margin-top: 10%;
}

.friendlist-infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    height: 28%;
}

.grouplist-infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    height: 93%;
}


.friendlist-loading-container {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
}
